{{> header.hbs}}
<div class="row">
  <div class="col">
    <h2>Election for {{election.seat.name}}</h2>
    <form class="form-inline" action="{{path "adminElection" election.electionID}}" method="post">
      <div class="form-group">
        <label for="state">Current state:</label>
        <select class="form-control mx-2" name="state" id="selectState">
          {{#each states}}
            <option value="{{this}}" {{#eq this election.state}}selected="selected"{{/eq}}>{{this}}</option>
          {{/each}}
        </select>
        <button type="submit" class="btn btn-danger">Change State</button>
      </div>
    </form>
  </div>
</div>
<div class="row  mt-2">
<div class="col">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="candidates-tab" data-toggle="tab" href="#candidates" role="tab"
         aria-controls="candidates" aria-selected="false">Candidates</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="voters-tab" data-toggle="tab" href="#voters" role="tab"
         aria-controls="voters" aria-selected="false">Voters</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" id="records-tab" data-toggle="tab" href="#records" role="tab"
         aria-controls="records" aria-selected="false">Votes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="results-tab" data-toggle="tab" href="#results" role="tab"
         aria-controls="results" aria-selected="false">Results</a>
    </li>
  </ul>
<div class="tab-content">
  <div class="tab-pane active" id="candidates" role="tabpanel" aria-labelledby="candidates-tab">
    <h4>Candidates</h4>
    <form action="{{path 'candidateAdd' election.electionID}}" class="w-50" method="post">
      <div class="form-group">
        <select name="username" id="addCandidate"
                class="form-control selectpicker w-75"
                title="User to add ..."
                data-live-search="true">
          {{#each missingCandidates}}
            <option value="{{username}}">{{name}}</option>
          {{/each}}
        </select>
        {{#if (canChangeCandidates election.state)}}
          <button type="submit" class="btn btn-primary">Add Candidate</button>
        {{else}}
          <button type="submit" class="btn btn-primary" disabled
                  title="Candidates can only be added in Setup or DecideToStand phases">Add Candidate
          </button>
        {{/if}}
      </div>
    </form>
    <div>
      <a href="mailto:?subject=Decide to stand for {{election.seat.name}}&Bcc={{#each
            election.undecidedCandidates}}{{#neq @index 0}},{{/neq}}{{profile.username}}@hanover.edu{{/each}}">
      Email undecided candidates</a>
    </div>
    <table class="table table-condensed w-50">
      <thead>
      <tr>
        <th class="w-75">Name</th>
        <th class="w-25 text-center">Status</th>
        <th class="w-25">Remove</th>
      </tr>
      </thead>
      <tbody>
      {{#each election.candidates}}
        <tr>
          <td>{{profile.name}}</td>
          <td class="text-center">{{> candidateStatus.hbs status.string}}</td>
          <td class="text-center">
            <form action="{{path "candidateDelete" election.electionID profile.username}}"
                  method="post">
              {{#if (canChangeCandidates election.state)}}
                <button class="btn btn-danger"><i class="fas fa-times"></i></button>
              {{else}}
                <button class="btn btn-danger" disabled
                        title="Candidates can only be removed during Setup or DecideToStand phases">
                  <i class="fas fa-times"></i>
                </button>
              {{/if}}
            </form>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="voters" role="tabpanel" aria-labelledby="voters-tab">
    <h4>Voters</h4>
    <form action="{{path 'voterAdd' election.electionID}}" class="w-50" method="post">
      <div class="form-group">
        <select name="username" id="addVoter"
                class="form-control selectpicker w-75"
                title="User to add ..."
                data-live-search="true">
          {{#each missingVoters}}
            <option value="{{username}}">{{name}}</option>
          {{/each}}
        </select>
        {{#if (canChangeVoters election.state)}}
          <button type="submit" class="btn btn-primary">Add Voter</button>
        {{else}}
          <button type="submit" class="btn btn-primary" disabled
                  title="Voters can only be added in Setup phase">Add Voter
          </button>
        {{/if}}
      </div>
    </form>
    <table class="table table-condensed w-50">
      <thead>
      <tr>
        <th class="w-75">Name</th>
        <th class="w-25 text-center">Voted</th>
        <th class="w-25">Remove</th>
      </tr>
      </thead>
      <tbody>
      {{#each election.voters}}
        <tr>
          <td>{{profile.name}}</td>
          <td class="text-center">
            {{#if voted}}
              <i class="text-success fas fa-person-booth"></i>
            {{else}}
              <i class="text-warning fas fa-person-booth"></i>
            {{/if}}
          </td>
          <td class="text-center">
            <form action="{{path "voterDelete" election.electionID profile.username}}"
                  method="post">
              {{#if (canChangeVoters election.state)}}
                <button class="btn btn-danger"><i class="fas fa-times"></i></button>
              {{else}}
                <button class="btn btn-danger" disabled
                        title="Voters can only be removed during Setup phase">
                  <i class="fas fa-times"></i>
                </button>
              {{/if}}
            </form>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="records" role="tabpanel" aria-labelledby="records-tab">
    <h4>Vote Records</h4>
    <table class="table table-condensed w-100">
      <thead>
      <tr>
        <th style="width: 5%;">id</th>
        <th class="w-25 text-center">timestamp</th>
        <th class="w-50">votes</th>
      </tr>
      </thead>
      <tbody>
      {{#each election.votes}}
        <tr>
          <td>{{recordId}}</td>
          <td class="text-center">{{datetime timestamp "dd-MM-yyyy hh:mm"}}</td>
          <td>{{join votes " "}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
<div class="tab-pane" id="results" role="tabpanel" aria-labelledby="results-tab">
  <h4>Vote results</h4>
{{#eq (length results.electionRecords) 0}}
    <p>No vote results yet.</p>
{{else}}
  <div id="resultsAccordion">
  {{#each results.electionRecords}}
    {{#assign "recordId"}}electionRecord{{@index}}{{/assign}}
      <div id="electionRecord{{@index}}" class="electionRecord accordion mt-3">
    <h3>Round {{@index}}: {{formatResult lastResult}}</h3>
        {{#each rounds}}
          <div class="card mb-0">
            <div class="card-header collapsed" id="round{{@index}}" data-toggle="collapse"
                 data-target="#collapse{{recordId}}-{{@index}}" aria-expanded="true"
                 aria-controls="collapse{{recordId}}-{{@index}}">
              <a class="card-title"> {{formatResult result}}</a>
            </div>
            <div id="collapse{{recordId}}-{{@index}}" class="collapse"
                 aria-labelledby="round{{@index}}">
              <div class="card-body votingRound row">
                <div class="col">
                  <table class="votesTbl table table-condensed">
                    <thead>
                    <tr>
                      <td>Vote</td>
                      <td colspan="{{length rankedTallies}}" class="text-center">Rankings</td>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each votes}}
                      <tr>
                        <td>{{@index}}</td>
                        {{#each this}}
                          <td><span class="vote vote-{{this}} vote-{{@index}} badge badge-pill">{{this}}</span>
                          </td>
                        {{/each}}
                      </tr>
                    {{/each}}
                    </tbody>
                  </table>
                </div>
                <div class="col">
                  <table class="rankedTalliesTbl table table-condensed">
                    <thead>
                    <tr>
                      <td>Candidate</td>
                      <td colspan="{{length rankedTallies}}" class="text-center">Votes per rank</td>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each sortedCandidateTallies}}
                      <tr>
                        <td class="candidate" data-candidate="{{target}}">{{target}}</td>
                        {{#each rankCounts}}
                          <td class="candidate" data-candidate="{{target}}"
                              data-ranking="{{@index}}">{{this}}</td>
                        {{/each}}
                      </tr>
                    {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
    </div>
  {{/eq}}
  </div>
  </div>
  {{> footer.hbs}}
  {{#block "stylesheets"}}
      <link rel="stylesheet" href="css/bootstrap-select.min.css">
      <style type="text/css">
        .accordion .card-header {
          cursor: pointer;
        }

        .card-title::before {
          display: none;
        }

        .accordion .card-title::before {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          content: "\f068";
        }

        .accordion .collapsed .card-title::before {
          /* symbol for "collapsed" panels */
          content: "\f067";
        }
      </style>
  {{/block}}
  {{#block "javascripts"}}
      <script src="js/bootstrap-select.min.js"></script>
      <script>
        $(() => {
          $(".rankedTalliesTbl .candidate").hover(toggleHighlight, toggleHighlight);

          function toggleHighlight(e) {
            const $targetEl = $(e.currentTarget);
            const round = $targetEl.closest('.votingRound');
            const candidate = $targetEl.data("candidate");
            const ranking = $targetEl.data("ranking");
            const prefix = ".vote-";
            let selector = prefix + candidate;
            if (ranking != null) {
              selector += prefix + ranking;
            }
            round.find(selector).toggleClass("badge-primary");
          }
        });
      </script>
      <script>
        $(function () {
          $(window.location.hash + '-tab').trigger('click');
        })
      </script>
  {{/block}}