{{> header.hbs}}

<div class="row">
  <div class="col-sm-8">
    <h2 class="m-2">Elections</h2>
    <table class="table table-condensed">
      <tbody>
      {{#each elections}}
        <tr class="election" data-name="{{name}}">
          <td>{{committee.name}}</td>
          <td>{{seat.name}}</td>
          <td>{{state}}</td>
          <td>
            <form action="{{path 'adminElection' electionID}}">
              <button type="submit" class="btn btn-success">Edit</button></form></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{> footer.hbs}}