{{> header.hbs}}
<div class="row mt-3">
  <div class="col-sm-3">
    {{#with profile}}
      <div class="media border border-dark border-rounded bg-light">
        <img class="mr-3 m-1"
             src="https://it.hanover.edu/utilities/photos/photo.php?username={{username}}"
        alt="{{name}}" style="height: 4em">
        <div class="media-body">
          <ul class="list-unstyled mb-0">
            <li><strong>{{name}}</strong></li>
            <li>{{division}}</li>
            <li>{{contract}}</li>
          </ul>
        </div>
      </div>
    {{/with}}
  </div>
  <div class="col-sm-9">
    <h3>Current Elections</h3>
  <div class="card-deck">

    {{#each elections}}
      <div class="card">
        <h5 class="card-header">{{election.seat.name}}
          {{#if election.state.decideToStand}}
            {{> candidateStatus.hbs candidateStatus classes="float-right"}}
          {{else}}
            {{#if voter}}
              {{#if voter.voted}}
                <i class="float-right text-success fas fa-person-booth"></i>
              {{else}}
                <i class="float-right text-warning fas fa-person-booth"></i>
              {{/if}}
            {{/if}}
          {{/if}}
        </h5>
      <div class="card-body p-2 m-1">
        <h6 class="card-subtitle sr-only">state: {{election.state}}</h6>
        {{#if election.state.decideToStand}}
          {{#eq candidateStatus "null"}}
            <p class="card-text">You are not a candidate.</p>
          {{else}}
              <form class="form decideToStand" action="{{path 'decideToStand' election.electionID}}" method="POST">
                <label for="decideToStand{{election.electionID}}" class="sr-only">Change status:</label>
                <div class="form-row">
                  <input type="hidden" name="decideToStand" id="decideToStand{{election.electionID}}" value="{{candidateStatus}}">
                  <button type="submit" data-value="Declined" class="btn btn-lg w-100 m-1 btn-outline-danger">Decline to stand</button>
                  <button type="submit" data-value="Willing" class="btn btn-lg w-100 m-1 btn-outline-success">Willing to stand</button>
                </div>
              </form>
          {{/eq}}
        {{/if}}
        {{#if election.state.vote}}
          <div class="card-text">
            {{#if voter}}
              {{#if voter.voted}}
                <p class="card-text">You have already voted.</p>
              {{else}}
                <form action="{{path 'ballot' election.electionID}}">
                  <input type="hidden" name="voterId" value="{{voter.voterId}}">
                  <button class="btn btn-success btn-lg w-100 m-1">View Ballot</button>
                </form>
              {{/if}}
            {{else}}
              <p class="card-text">You are not eligible to vote.</p>
            {{/if}}
          </div>
        {{/if}}
      </div>

    </div>
    {{/each}}
  </div>
</div>
</div>

{{> footer.hbs}}

{{#*inline "javascripts"}}
  <script>
    $(() => {
      $('form.decideToStand').on('click', 'button', (e) => {
        const btn = e.currentTarget;
        const form = $(btn).closest('form');
        $(form).find('input[name="decideToStand"]').val($(btn).data('value'));
      });
    });
  </script>
{{/inline}}
